@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;  /* 텍스트 중앙 정렬 */
}

h1#title, figure, ul#links {
    display: block;   /* 기본값 block 설정 */
    margin: 0 auto;   /* 좌우 중앙 정렬 */
    padding: 10px 0;
}

figure {
    background-image: url('main_boo.jpg');
    background-size: cover;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-position: center;
}

h1 {
    font-family: "Noto Sans KR", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 20px;
}

ul#links {
    padding-left: 0;
    list-style-type: none;
}

ul#links li {
    display: block;  /* 기본값 block 설정 */
    margin-bottom: 10px;
}

ul#links a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}

@media (max-width: 600px) {
    h1#title {
        font-size: 1.5rem; /* 작은 화면에서 타이틀 크기 축소 */
    }
  
    ul#links a {
        font-size: 1rem; /* 작은 화면에서 링크 크기 축소 */
    }
}