@charset "utf-8";

@font-face {
    font-family: 'HUFSFontM';
    src: url('./hufsfont/TTF/한국외대체M.ttf') format('truetype');
}

@font-face {
    font-family: 'HUFSFontL';
    src: url('./hufsfont/TTF/한국외대체L.ttf') format('truetype');
}

@media (max-width: 600px) {
    h1#title {
        font-size: 1.5rem; /* 작은 화면에서 타이틀 크기 축소 */
    }
  
    ul#links a {
        font-size: 1rem; /* 작은 화면에서 링크 크기 축소 */
    }
}

* {
    margin: 20;
    padding: 30;
    box-sizing: border-box;
}

body {
    font-family: 'HUFSFontL';
    background-color: rgb(218, 218, 211);
    text-align: center;
    margin: 20px; 
}

h1#title, figure, ul#links {
    display: block;   /* 기본값 block 설정 */
    margin: 0 auto;   /* 좌우 중앙 정렬 */
    padding: 10px 0;
}

figure {
    background-size: cover;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-position: center;
}

h1 {
    font-family: 'HUFSFontM';
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 20px;
}

ul#links {
    padding-left: 0;
    list-style-type: none;
}

ul#links li {
    display: block;  /* 기본값 block 설정 */
    margin-bottom: 10px;
} 

ul#links li:nth-child(7) {
    margin-bottom: 30px;
}

ul#links a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}
